@import url('https://fonts.googleapis.com/css?family=Lato|Righteous&display=swap');

html {
  --color-text: rgb(255, 255, 255);
  --color-background: #151515;

  --color-yellow-dark: rgb(218, 218, 8);
  --color-yellow-mid: rgb(255, 255, 0);
  --color-yellow-bright: rgb(252, 252, 100);
  --color-orange-dark: rgb(247, 136, 0);
  --color-orange-mid: rgb(255, 165, 0);
  --color-orange-bright: rgb(255, 180, 17);
  --color-red-dark: rgb(210, 0, 0);
  --color-red-mid: rgb(255, 0, 0);
  --color-red-bright: rgb(255, 51, 28);
  --color-green-dark: rgb(20, 136, 20);
  --color-green-mid: rgb(9, 157, 9);
  --color-green-bright: rgb(62, 186, 62);
  --color-blue-dark: rgb(1, 28, 232);
  --color-blue-mid: rgb(0, 81, 255);
  --color-blue-bright: rgb(19, 105, 255);
  --color-purple-dark: rgb(91, 1, 130);
  --color-purple-mid: rgb(135, 1, 135);
  --color-purple-bright: rgb(179, 15, 174);
  --color-pink-dark: rgb(255, 164, 180);
  --color-pink-mid: rgb(255, 192, 203);
  --color-pink-bright: rgb(252, 206, 214);
  --color-white-dark: rgb(229, 240, 242);
  --color-white-mid: rgb(238, 250, 252);
  --color-white-bright: rgb(255, 255, 255);
}

body {
  font-size: 125%;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-image: url("./assets/wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', sans-serif;
  color: var(--color-text);
}

h1 {
  font-size: 3.6rem;
  text-shadow: 0 0 5px var(--color-text);
  line-height: 0.95;
  align-self: center;
  white-space: nowrap;
  margin-right: 3rem;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

header {
  background-color: var(--color-background);
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.silver-border {
  border-radius: 10px;
  padding: .5rem;
  background: linear-gradient(135deg, rgba(201,213,219,1) 0%,rgba(216,225,231,1) 50%,rgba(157,172,178,1) 50%,rgba(224,239,249,1) 100%);
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.7);
}

main {
  margin-top: 2rem;
}

.color-picker-block {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  grid-template-rows: repeat(2, 2rem);
  align-items: center;
  grid-gap: .75rem;
  margin: 0 1rem 0 0;
  padding: 0;
}

.bulb {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}

.bulb::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  width: 1rem;
  height: 1rem;
  border-radius:50%;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.7);
}

.bulb-color0 {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 25%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
  box-shadow: -1px 1px 3px black;
}

.bulb-color1 {
  background: radial-gradient(ellipse at center, var(--color-red-bright) 0%, var(--color-red-bright) 20%, var(--color-red-mid) 55%, var(--color-red-mid) 100%);
  box-shadow: 0 0 10px var(--color-red-mid);
}

.bulb-color2 {
  background: radial-gradient(ellipse at center, var(--color-orange-bright) 0%, var(--color-orange-bright) 20%, var(--color-orange-mid) 55%, var(--color-orange-mid) 100%);
  box-shadow: 0 0 10px var(--color-orange-mid);
}

.bulb-color3 {
  background: radial-gradient(ellipse at center, var(--color-yellow-bright) 0%, var(--color-yellow-bright) 20%, var(--color-yellow-mid) 55%, var(--color-yellow-mid) 100%);
  box-shadow: 0 0 10px var(--color-yellow-mid);
}
  
.bulb-color4 {
  background: radial-gradient(ellipse at center, var(--color-green-bright) 0%, var(--color-green-bright) 20%, var(--color-green-mid) 55%, var(--color-green-mid) 100%);
  box-shadow: 0 0 10px var(--color-green-mid);
}

.bulb-color5 {
  background: radial-gradient(ellipse at center, var(--color-blue-bright) 0%, var(--color-blue-bright) 20%, var(--color-blue-mid) 55%, var(--color-blue-mid) 100%);
  box-shadow: 0 0 10px var(--color-blue-mid);
}

.bulb-color6 {
  background: radial-gradient(ellipse at center, var(--color-purple-bright) 0%, var(--color-purple-bright) 20%, var(--color-purple-mid) 55%, var(--color-purple-mid) 100%);
  box-shadow: 0 0 10px var(--color-purple-mid);
}

.bulb-color7 {
  background: radial-gradient(ellipse at center, var(--color-pink-bright) 0%, var(--color-pink-bright) 20%, var(--color-pink-mid) 55%, var(--color-pink-mid) 100%);
  box-shadow: 0 0 10px var(--color-pink-mid);
}

.bulb-color8 {
  background: radial-gradient(ellipse at center, var(--color-white-bright) 0%, var(--color-white-bright) 20%, var(--color-white-mid) 55%, var(--color-white-mid) 100%);
  box-shadow: 0 0 10px var(--color-white-mid);
}

.button-block {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.control-button {
  appearance: none;
  border: none;
  font-family: 'Righteous', sans-serif;
  color: white;
  text-shadow: 0 0 4px white;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 10px;
  align-self: center;
  padding: .5rem 1rem;
  margin-left: 1rem;
}

.button-clear {
  background-color: var(--color-red-dark);
  box-shadow: 0 0 5px var(--color-red-dark);
}

.button-save {
  background-color: var(--color-green-dark);
  box-shadow: 0 0 5px var(--color-green-dark);
}

.button-load {
  background-color: var(--color-orange-dark);
  box-shadow: 0 0 5px var(--color-orange-dark);
}

.light-board {
  width: 100%;
  background-color: #151515;
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 2rem);
  grid-template-rows: repeat(8, 2rem);
  grid-gap: .75rem;
  justify-content: center;
  align-content: center;
}

.loadMenu,
.confirmModal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 900;
}

.loadMenuBody {
  max-height: 80vh;
  overflow: scroll;
}

.isHidden {
  display: none;
}

.modalBody {
  background: #151515;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.modalBorder {
  position: relative;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadMenuBody h2 {
  text-shadow: 0px 0px 2px #fff;
}

.loadItem {
  margin: 1rem auto 1.5rem;
}

.loadItemButton {
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
}

.loadMenu .control-button {
  margin: .5rem 0;
}

.loadItemButton:hover,
.loadItemButton:focus {
  color: orange;
  text-shadow: 0px 0px 4px orange;
}

@media (max-width: 1080px) {
  .control-button {
    font-size: 1.2rem;
    padding: .25rem .5rem;
  }
}

@media (max-width: 1010px) {
  h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 910px) {
  h1 {
    white-space: normal;
    margin-right: 1rem;
    width: 30%;
  }

  .button-block {
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 0;
    flex-basis: auto;
  }

  .control-button {
    margin: .25rem 0;
  }
}

@media (max-width: 550px) {
  /* completely stack the header */
  header {
    flex-direction: column;
  }

  h1 {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-size: 1.8rem;
    margin: 0;
  }

  .color-picker-block {
    grid-template-columns: repeat(8, 2rem);
    grid-template-rows: 2rem;
    align-items: center;
    grid-gap: .75rem;
    padding: 0;
    margin: 0;
    order: 3;
  }
  
  .button-block {
    margin: 1rem 0;
    flex-direction: row;
  }

  .control-button {
    margin: .25rem .5rem;
  }

  .loadMenu .loadMenuBody {
    padding: 1.5rem;
  }

  .loadMenu h2 {
    font-size: 1.65rem;
    line-height: 1.2;
  }

  .loadItemButton {
    font-size: 1.4rem;
  }
}

@media (max-width: 430px) {
  header {
    padding: 1.5rem 0;
  }

  .color-picker-block {
    grid-template-columns: repeat(8, 1.5rem);
    grid-template-rows: 1.5rem;
    grid-gap: .5rem;
  }

  .light-board {
    grid-template-columns: repeat(8, 1.5rem);
    grid-template-rows: repeat(8, 1.5rem);
    grid-gap: .5rem;
  }
}